<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>پتریا | Petria</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <% if (typeof err != 'undefined') { %>
        alert(err)
    <% } %>
	<main ontouchstart class="with-hover">
		<section class="arbitrary">
			<h1>
				<a id="link-signup" class="active">ثبت‌نام</a>
				<a id="link-login">ورود</a>
			</h1>
			<form id="form-signup" class="active">
				<div>
					<fieldset>
						<div>
							<input id="teamName" type="text" placeholder="نام تیم" class="inputFullName" />
							<label for="teamName">تیم</label>
						</div>
					</fieldset>
					<fieldset>
						<div>
							<select class="faculty" id="faculty">
								<option>مهندسی کامپیوتر</option>
								<option>مهندسی برق</option>
								<option>مهندسی مکانیک</option>
								<option>مهندسی هوافضا</option>
								<option>مهندسی عمران</option>
								<option>مهندسی صنایع</option>
								<option>مهندسی شیمی و نفت</option>
								<option>مهندسی مواد</option>
								<option>فیزیک</option>
								<option>شیمی</option>
								<option>ریاضی</option>
							</select>
							<label for="faculty">دانشکده</label>
						</div>
					</fieldset>
					
					<fieldset>
						<div>
							<input id="passwordSignUp" type="password" placeholder="••••••••" />
							<label for="passwordSignUp">رمزعبور</label>
						</div>
					</fieldset>
				</div>

				<!--<ul class="ps">
					<li>
						نکته1
					</li>
					<li>
						نکته2
					</li>
				</ul> -->

				<input type="button" value="ثبت‌نام" onclick="registration()"/>
			</form>
			<form id="form-login">
				<div>
					<fieldset>
						<div>
							<input id="emailSignIn" type="email" placeholder="mostafa.ghadimi@yahoo.com" />
							<label for="emailSignIn">ایمیل</label>
						</div>
					</fieldset>
					<fieldset>
						<div>
							<input id="passwordSignIn" type="password" placeholder="••••••••" />
							<label for="passwordSignIn">رمزعبور</label>
						</div>
					</fieldset>
				</div>

				<!--<ul class="ps">
					<li>
						نکته1
					</li>
					<li>
						نکته2
					</li>
				</ul> -->

				<input type="button" value="ورود" onclick="login()"/>
			</form>
		</section>
		<aside class="asside">
			<div></div>
			<div>
				<p id="intro-signup" class="active">در این قسمت ثبت‌نام کنید</p>
				<p id="intro-login">بیا تو دم در بده :))</strong>!</p>
			</div>
		</aside>
	</main>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	<script src="/js/index.js"></script>
	<script>
	function registration() {
		validation($('#teamName').val(), $('#faculty').val(), $('#email').val(), $('#password').val())
	}

	function validation(teamName, faculty, email, password) {
		if (teamName == "" || email == "" || password == ""){
			return alert("لطفا همه‌ی فیلدها را کامل پر کنید")
		}		
		else {
			submitInformation(teamName, faculty, email, password)
		}	
	}
	function submitInformation(teamName, faculty, email, password){
		$.post('/user/register', {
			teamName: $('#teamName').val(),
			faculty: $('#faculty').val(),
			email: $('#emailSignUp').val(),
			password: $('#passwordSignUp').val()
		}).done(() => {
			window.location.assign('/user/scoreboard')
			console.log('registration and redirect!')
            // history.pushState(null, null, "/user/scoreboard");
        })
	}
	function login() {
		$.post('/user/login', {
			email: $('#emailSignIn').val(),
			password: $('#passwordSignIn').val()
		}).done((result) => {
			console.log(result)
			window.location.assign('/user/scoreboard')
			console.log('ferestadam YAAAAAAAAAY')
		})
	}
</script>
</body>
</html>